

html,body{
  height:100%;
}

#head{
  height:15%;
  color:gray;
  border:1px solid;
  text-align:center;
}

#container{
  height:72%;
  color:blueviolet;
  /*border:1px solid;*/
  margin:1% auto;
  padding:0;
  position:relative;
}

#footer{
  height:10%;
  color:pink;
  bottom:0;
  /*border:1px solid;*/
}

#left{
  float:left;
  border:1px solid;
  left:0;
  height:100%;
  width:20%;
}

#right{
  float:right;
  border:1px solid;
  right:0;
  color:black;
  height:100%;
  width:78%;
  display:flex;
}

.sidebar {
  padding-top: 0.5em;
  z-index: 100;
}

.tagBody {
  height:100%;
  width:60%;
  /*background-color: greenyellow;*/
  border:1px solid;
  flex:2
}

#showJson{
  height:100%;
  width:auto;
  /*background-color: navajowhite;*/
  /*border:1px solid;*/
  flex:1 ;
  overflow:auto;

}

#json{
  /*background-color: navajowhite;*/
  /*border:1px solid;*/
  height:100%;
  width: 100%;
  overflow:auto;

}

.li-dir {
  list-style-type: none;
  background: url("icon/dir.png") no-repeat 0rem 0.2rem;
  background-size: 1rem 1rem;
  text-indent: 2em;
}

ul {
  list-style:square inside;
}

.del{
  border:1px solid black;
  display: inline-block;
}

.item{
  margin:2px;
  padding:2px;
}

.tag-ul{
  width:94%;
  height:90%;
  overflow:auto;

  /*padding:10px;*/
}

.unselectable {
  /*-moz-user-select: -moz-none;*/
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul > li{
  padding:3px;
}
